# Discord Bot Token (from https://discord.com/developers/applications)
DISCORD_BOT_TOKEN=c1be286d4d3c08050fc7483539bb193918425bab5e4fb3ff38610b79f96c2f07

# Discord Webhook URL for the private staff channel
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1485758823477022852/GCK6ZpcjBWDu1uoXRdpfjf3-9AaLi08SEeyV7Cq6P2-2XdK2W1NJqZ-KUH-AK_6n9NHD

# Port for the Express server
PORT=3000
